.parent {
    position: relative;
    /* try changing the width! */
    width: 200px;
    height: 100px;
    border: 2px solid black;
  }
  
  .star {
    position: relative;
    text-align: center;
    top: 40px;
    /* Only allow to add content inside this block */
  
    /* */
  }

  